@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@{
    ViewBag.Title = "Forgot password confirmation";
}

<h1>@ViewBag.Title</h1>
<hr />

<div>
    <p>Please check your email to reset your password.</p>
</div>
	
