@using OPA.BusinessLogic
@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

<!DOCTYPE html>
<div id="footer" class="container">
    <img src="~/Content/images/logo-small.png" alt="Org Logo">
    <div id="footer-content">
        <h3>Contact</h3>
        <p>Content questions or feedback: <a href="mailto:@Utilities.SmtpEmail">@Utilities.SmtpName</a></p>
        <p>Copyright &copy; @DateTime.Now.Year @Utilities.AppName</p>
    </div>
</div>