@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of Online Parish Administration.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

<!DOCTYPE html>
<div id="footer" class="container">
    <img src="~/Content/images/logo-small.png" alt="Church Logo">
    <div id="footer-content">
        <h3>Contact</h3>
        <p>Content questions or feedback: <a href="mailto:support@anargyroi.org">Online Parish Administration</a></p>
        <p>Copyright &copy; @DateTime.Now.Year Anargyroi Development</p>
    </div>
</div>