@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@model HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<h1>@ViewBag.Title</h1>
<hr />

<div id="main-content" class="col-md-8">
    <p class="text-danger">This account has been locked out, please try again later.</p>
</div>

